@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@200..700&display=swap');

* {
  margin: 0;
  padding: 0;
}

h1, h3, h4, h5 {
  font-family: "Goldman", sans-serif;
}

h2{
  font-family: "Goldman", sans-serif;
  font-size: 25px;

}

p, a, li, ul, form {
  font-family: "Mozilla Text", sans-serif;
}


